.movie-info{
  
}

.movie-box{
    padding-top: 10px;
    display: flex;
    gap: 15px;
}
.sinopse{
    width: 250px;
    height: 200px;
}

.movie-card{
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    min-width: 170px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s ease,border 0.2s ease;
    border: 3px solid transparent;
}
.movie-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}