button{
    border: none;
    background-color: transparent;
    color: white;
    padding: 10px
  
    
}
button:hover{
  background-color: rgb(160, 159, 159);
  border-radius: 16px;
  
  
}

.img-logo{
  width: 50px;
}
.img-perfil{
  width: 50px;
}
.container{
  
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box-btn{
  display: flex;
  
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

body{
  background-color: black;
}